<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stop Watch 7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC042ECF1C43ED6900E59DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC042EE31C43ED6900E59DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC042EEE1C43ED6900E59DF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
